body{
    background-color: red;
}


h1{
    color:blue;
}
.titulo{
    Color:white;
    border: dashed;
    text-align: center;
    
}


button {
    color:azure;
    font-size: 50px;

}
 .imagem-arara{
    width: 50px;

 }